.Activities-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 5px 20px;
    
}
.activities{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
   
}

.sideCart-parent{
    position: sticky;
    top:0;
}
/* .sideCart-container{
    position: sticky;
} */

@media screen and (max-width: 767px) {
    .activities{
       
        grid-template-columns: 1fr;
        
       
    }
}
@media screen and (min-width:768px ) and ( max-width:991px) {
    .activities{
       
        grid-template-columns: repeat(2, 1fr);
        
       
    }
}